body {
  background-image: url("../images/Mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-image: url("../images/Mobile-overlay.png");
}

header {
  background-color: #46586c;
}

.header {
  justify-content: space-between;
  align-items: center;
}

#home {
  color: white;
  background-color: transparent;
  border: 0;
  padding: 1rem;
  font-size: 20px;
}

.favorite-list-button {
  padding: 1rem;
  color: white;
  border: 0;
  font-size: 15px;
  background-color: transparent;
}

.desktop-heart {
  display: none !important;
}

.mobile-search {
  justify-content: center;
  align-items: center;
}

#mobile-search-box {
  margin-top: 1rem;
  padding: 0.3rem;
  padding-left: 1.7rem;
  background-color: #f5f4f5;
  box-shadow: 2px 2px 2px lightgray;
  border: 0;
}

#mobile-search-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #6c757d;
  position: absolute;
  left: 5px;
  bottom: 4px;
  border: 0;
}

.desktop-search {
  display: none;
}

.random-button {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.random-button button,
.favorite-placeholder button {
  margin-bottom: 3rem;
  background-color: #6c757d;
  color: white;
  border: 0;
  padding: 0.8rem;
  border-radius: 0.3rem;
  letter-spacing: 1px;
}

.search-placeholder,
.favorite-placeholder {
  padding: 3rem 0;
  text-align: center;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.park-info-card,
.favorite-info-card {
  padding: 1rem;
  background-color: transparent;
}

.park-info-content-box,
.favorite-info-content-box {
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(212, 216, 217, 0.789);
}

.favorite-info-content-box {
  padding-bottom: 1rem;
}

.park-info-content-box h3,
.favorite-info-content-box h3 {
  margin-top: 0;
  text-align: center;
}

.park-image,
.favorite-park-image {
  width: 100%;
  height: 1rem;
  object-fit: cover;
}

.favorite-park-image {
  height: 15rem;
}

.trash {
  justify-content: center;
  align-items: center;
}

.trash-can {
  background-color: #eb617a;
  color: white;
  border: 0;
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  margin-top: 1rem;
}

.user-button {
  padding: 0 0 1rem;
  justify-content: center;
  align-content: center;
}

.favorite-button,
.user-random-button {
  border: 0;
  padding: 0.3rem;
  color: white;
  background-color: #89b6f5;
  border-radius: 0.5rem;
}

.user-random-button {
  background-color: #e5a5b4;
}

.user-button-flex {
  display: flex;
  justify-content: space-between;
}

.park-detail h3 {
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.park-detail img {
  width: 100%;
}

.park-detail h4 {
  margin: 1rem 0;
}

.park-detail p {
  font-size: small;
}

.park-detail a {
  text-decoration: none;
}

.park-detail ul,
.park-detail li {
  line-height: 1.7;
}

@media only screen and (min-width: 400px) {
  .park-info-content-box img {
    height: 15rem;
  }
}

@media only screen and (min-width: 750px) {
  body {
    background-image: url("../images/Desktop.jpg") !important;
  }

  #home {
    cursor: pointer;
  }

  .header {
    flex-wrap: nowrap;
  }

  .favorite-list-button {
    cursor: pointer;
  }

  .desktop-search {
    display: flex;
    justify-content: end;
  }

  #desktop-search-box {
    margin: 0.3rem;
    padding: 0.7rem;
    border: 0;
    border-radius: 0.3rem;
  }

  #desktop-search-button {
    cursor: pointer;
    margin: 0.3rem 0.5rem 0.3rem 0;
    padding: 0.7rem;
    border: 2px solid white;
    border-radius: 0.3rem;
    color: white;
    background-color: #46596c;
  }

  .desktop-heart {
    display: inline !important;
    letter-spacing: 1.5px;
  }

  .favorite-list-button:hover {
    color: pink;
    transition: color 0.5s;
  }

  .mobile-search {
    display: none;
  }

  .random-button button,
  .favorite-placeholder button {
    cursor: pointer;
    background-color: #7b9ab7;
    color: white;
    border: 0;
    padding: 1.5rem;
    border-radius: 0.3rem;
    letter-spacing: 1px;
  }

  .random-button button:hover,
  .favorite-placeholder button:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
  }

  .search-placeholder,
  .favorite-placeholder {
    color: whitesmoke;
    padding: 15rem 0;
    font-size: xx-large;
    text-align: center;
  }

  .park-info-content-box,
  .favorite-info-content-box {
    background-color: rgba(255, 255, 255, 0.719);
  }

  .park-image,
  .favorite-park-image {
    cursor: pointer;
    height: 17rem;
  }

  .favorite-park-image {
    height: 15rem;
  }

  .trash-can {
    cursor: pointer;
    margin-top: 0.6rem;
    padding: 0.8rem 1rem;
  }

  .park-detail h3 {
    color: white;
    letter-spacing: 1px;
    padding: 2rem 0 1.5rem;
    font-size: xx-large;
  }

  .user-button {
    padding: 0 0 2.5rem;
    justify-content: center;
    align-content: center;
  }

  .user-random-button,
  .favorite-button {
    cursor: pointer;
    padding: 0.8rem;
  }

  .fa-star:hover {
    transform: scale(1.3);
  }

  .fa-dice:hover {
    animation: rotation 0.02s infinite linear;
  }

  .park-detail img {
    padding: 0 1rem 1rem;
    height: 600px;
    object-fit: cover;
    width: 100%;
  }

  #first-h4 {
    margin: 0 0 2rem;
  }

  .park-detail h4 {
    font-size: x-large;
    color: white;
    margin: 2rem 0;
  }

  .park-detail p {
    color: white;
    line-height: 2;
    font-size: large;
  }

  .park-detail a {
    color: aqua;
  }

  .park-detail ul,
  .park-detail li {
    color: white;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
